$mediaMaxWidth: 1200px;
$mediaBp1Width: 768px;
$mediaMinWidth: 576px;
.add-to-cart{
    margin: 0 25px; 
    background-color: var(--theme-color);
    cursor: pointer;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    @media (max-width: #{$mediaMaxWidth}) {  
    padding: 0.4rem 1.8rem;
    }
    
    @media (max-width: #{$mediaBp1Width}) {  
        width: 98px;
        height: 22px;
        font-size: 9px;
        padding: 0;
        margin: 0px 0 0 20px;
    }
}