<script>
import { createEventDispatcher } from 'svelte';

export let color;

const dispatch = createEventDispatcher();

  function getFunction(event) {
     dispatch('message', {
        text: event.target
     })
  }
</script>

<button class = 'add-to-cart' on:click={getFunction} style = "--theme-color: {color}"><slot /></button>

<style type="text/scss">
   @import './custom-button';
</style>