<script>
 
    let a = 1;
    function addProduct(){
        a++
    }
    function reduceProduct(){
       a--
    }
    export let color;
</script>
<div class="content">
    <i class="fa fa-plus-circle fa-2x"
    on:click = {addProduct} 
    style = "--theme-color: {color}"
    aria-hidden="true">
    </i>

    <div style = "--theme-color: {color}">
      <b> 
      {#if a >= 1}
        {a--}
      {:else}
        {a = 1}
      {/if}
      </b>
    </div>

    <i class="fa fa-minus-circle fa-2x" 
    aria-hidden="true"
    style = "--theme-color: {color}"
    on:click = {reduceProduct}
    size="xs">
    </i>
 </div>
<style type="text/scss">
   @import './custom-input';
</style>
