$mediaMaxWidth: 1200px;
$mediaBp1Width: 768px;
$mediaMinWidth: 576px;
.content{
    display: inline;
    div{
        width: 30px;
        height: 30px;
        border-radius: 10%;
        border: 1px solid var(--theme-color);
        display: inline-block;
        cursor: pointer;
        margin-right: 5%;
        text-align: center;
        @media (max-width: $mediaMaxWidth) {
            width: 23px;
            height: 23px;
        }
        @media (max-width: $mediaBp1Width) {
            width: 20px;
            height: 18px;
            font-size: 12px;
            margin-right: unset; 
        }
    }
    .fa-plus-circle{
        margin-right: 5%;
        @media (max-width: #{$mediaBp1Width}) {
            margin-right: unset;
        } 
    } 
    .fa-plus-circle, .fa-minus-circle{
        font-size: 22px;
        color: var(--theme-color);
        @media (max-width: #{$mediaBp1Width}) {
            width: 1rem;
        }
  }
}