$mediaMaxWidth: 1200px;
$mediaBp2Width: 1024px;
$mediaBp1Width: 767px;
$mediaMinWidth: 576px;
.select{
    margin: 62px 62px 10px;
    padding: 0;
    label{
        display: block;
        font-weight: bold;
        color: var(--theme-color);
        @media (max-width: $mediaBp2Width) {
            font-size: 14px;
        }
    }
        select{
            cursor: pointer;
            width: 76px;
            height: 40px;
            border-radius: 20px; 
            @media (max-width: $mediaBp2Width) { 
            font-size: 10px;
            width: 70px;
            height: 28px;
            color: white;
            }
            background-color: var(--theme-color);
            margin: 0;
            option{
            background-color: white !important;
            }
        }
    
}
