<script>
//import Data from "../../data/data.js"
//let colors = Data.COLOR;
export let color;
export let colors = [];
let defaultColor='#70ba3e';
</script>
<div class="select">
<label for="choose-colors" style = "--theme-color: {color}">Select colors</label>
  <select id = 'choose-colors' bind:value = {color} style = "--theme-color: {color}">
  <option>{defaultColor}</option>
   {#each colors as color}
     <option>{color}</option>
     {/each}
  </select>
</div>
<style type="text/scss">
   @import './custom-select';
</style>