<!--src/Components/Navbar/Navbar.svelte-->

<script>
  export let navlists = [];
  export let color;
  let current = 'foo';

</script>

<section id="nav-bar">

  <nav class="navbar-expand">
    
      <ul class="navbar-right">
        {#each navlists as list, i}
          <li class="nav-item">    
            <a class:active="{current === 'foo'+i}" on:click="{() => current = 'foo'+i}" style = "--theme-color: {color}" class="light-color" href={list.url}>{list.label}</a>
          </li>
        {/each}
      </ul>
   
  </nav>
</section>
<style type="text/scss">
   @import './header';
</style>