$mediaMaxWidth: 1200px;
$mediaBp2Width: 1024px;
$mediaBp1Width: 767px;
$mediaMinWidth: 576px;

#nav-bar {
  }
nav{
   margin: 20px;
 ul{
    padding: 0 20px !important;
    overflow-x: auto;
    white-space: nowrap;
  li {
    padding: 5px 0 5px 20px;
    display: inline-block;
    @media (max-width: $mediaBp1Width) {
    padding: 5px 0px 5px 8px;
    }
   a {
    border: 1px solid var(--theme-color);
    font-weight: 600;
    text-align: left;
    border-radius: 31px;
    padding: 5px 15px; 
    text-decoration: none; 
    color: var(--theme-color);
    @media (max-width: $mediaBp1Width) {
    padding: 1px 15px 3px; 
    }
      &.active{ 
          background-color:  var(--theme-color);
          color: white;
      }
    }
   }
  }
}
