$mediaMaxWidth: 1024px;
$mediaBp1Width: 767px;
$mediaMinWidth: 576px;
@mixin font-size($font-size){
  font-size: $font-size;
}
.container-fluid{
    p{
        margin: 0;
    }
.row{
    
    .photo_contain{   
        display: flex;
        justify-content: space-between;
        margin: 22px 4px;
        .figure{
            display: flex;
            box-shadow: 5px 5px 10px 8px #888888;
            border-radius: 20px;
            width: 96%;
            justify-content: space-between;
            margin-left: 5%;
            @media (max-width: $mediaMaxWidth) {
            height: 150px;
            }
            @media (max-width: $mediaBp1Width) {
                height: 120px;
            }

            .image{
                width: 15%;
                img{ 
                    border-radius: 10%;
                    margin-top: -25%;
                    margin-left: -50%;
                    width: 165px;
                    @media (max-width: $mediaMaxWidth) {
                    width: unset;
                    margin-top: -15%;
                    margin-left: -45%;
                }
                @media (max-width: #{$mediaBp1Width}) {   
                    margin-left: -94%;
                    margin-top: -30%;
                    width: 116px; 
                }
                }
            }
            .text_buttons{    
                width: 70%;     
                margin: 10px 0px 10px 10px;    
                display: inline-grid;
                @media (max-width: $mediaBp1Width) { 
                    width: 65%;
                }
                .potions{
                    @media (max-width: $mediaBp1Width) { 
                        font-size: 12px;
                    } 
                }
                .initial-info{
                    display: flex;
                    justify-content: space-between; 
                    .title{
                        font-size: 14px;
                        font-weight: bold;
                        @media (min-width: 768px) { 
                                 font-size: 25px;
                             }
                    } 
                    .price{
                        color: var(--theme-color);
                        font-size: 10px;
                        @media (min-width: $mediaBp1Width) { 
                            font-size: 18px
                        }
                    }
                    p{
                        display: inline;
                    }
                    
                }
                
                .about-text{
                    @media (max-width: $mediaMaxWidth) { 
                        font-size: 8px;
                        width: unset;
                        height: unset; 
                    }
                    font-size: 20px;
                    height: 87%;
                    overflow: hidden;
                }
               .inputes{
                     display: flex;
                     justify-content: space-evenly;
               }
            }
        }
    }

   }
}

   
    