<script context="module">

//export let cartItems = new Set();

</script>

<script>
 import { onMount } from 'svelte';
 import Input from '../../custom-buttons/inputs/custom-input.svelte';
 import Button from '../../custom-buttons/buttons/custom-button.svelte';
 import Cart from '../../Cart.svelte'

    let blocks = [];
    let givenprod = [];
    let cartItems = [];
    export let color;
    let me;
    
	onMount(async () => {
		const res = await fetch(`https://jsonplaceholder.typicode.com/photos?_limit=20`);
        blocks = await res.json();
    });

  function addToCart(givenElement) {
    console.log('cartItems',givenElement); 
      let title = givenElement.detail.text.offsetParent.childNodes[2].childNodes[0].childNodes[0].innerHTML;
          let img = `<img style = 'margin: 47px 10px' src = ${givenElement.detail.text.offsetParent.childNodes[0].childNodes[0].attributes.src.value} >`;
          givenprod.push(img, title)
        cartItems = cartItems.concat({
          ...givenprod
        }); 
  }
  
</script> 
<!-- I couldn't move the array of products to the model's content -->

 <Cart items = {cartItems} /> 

 <div class="container-fluid">
    <div class="row">
        {#each blocks as block, i}
        <div class = 'photo_contain col-xl-5 col-lg-11'>
            <div class="col-lg-12 figure">
               <div class="image">
                 <img src={block.thumbnailUrl} alt={block.title}>
               </div>
               <div class='text_buttons'>
                  <div class="initial-info">
                      <p class = 'title' bind:this={me}>Lorem ipsum - {i}</p>
                      <p style = "--theme-color: {color}" class = 'price'>${block.id+(Math.random() * (0.120 - 0.0200) + 0.0200).toFixed(2)}</p>
                  </div>
                    <p class= 'about-text' bind:this={me}>{block.title}</p>
                    <div class="potions">
                        <i class="fa fa-star" 
                            color = var(--theme-color) 
                            style = "--theme-color: {color}" 
                            aria-hidden="true">
                        </i>
                        {block.albumId} | {block.id}g
                    </div>
                    <div class="inputs">
                          <Input color = {color} />
                          <Button bind:this={me} class = 'add-to-cart' on:message = {addToCart} color = {color} >Add to cart {i}</Button>
                    </div>
              </div>  
            </div>   
        </div>
        {:else}
            <p>loading...</p>
        {/each} 
    </div>
</div>
<style type="text/scss">
   @import './menuBlocks';
</style>