<script>
  import { getContext } from 'svelte';
  import Cart from '../../Cart.svelte';
  import MenuBlock from '../../components/MenuBlocks/MenuBlocks.svelte'

  const { open } = getContext('simple-modal');
  let cartItems = [];

  const showSurprise = () => {
    open(Cart, { items: cartItems });
  };
</script>

<div class="footer">
<!-- I couldn't move the array of products to the model's content -->
<Cart items = {cartItems} />
  <ul class="footer-content">
  
     <li>
     <i size="2x" class="icons fa fa-list-alt fa-sm" aria-hidden="true"></i>
     <span>Menu</span>
     </li>
     <li><i class="icons fa fa-gift fa-sm " aria-hidden="true"></i>
     <span>Discounts</span>
     </li>
     <li on:click={showSurprise}><i class="icons fa fa-shopping-cart fa-sm" aria-hidden="true"></i>
     <span>Cart</span>
     </li>
     <li><i class="icons fa fa-file-text-o fa-sm" aria-hidden="true"></i>
     <span>My order</span>
     </li>
     <li>
     <i class="icons fa fa-circle-o fa-xs" aria-hidden="true"></i>
     <i class="icons fa fa-circle-o fa-xs" aria-hidden="true"></i>
     <i class="icons fa fa-circle-o fa-xs" aria-hidden="true"></i>
     <span>More</span>
     </li>
  </ul>

</div>
<style type="text/scss">
   @import './footer';
</style>