$mediaMaxWidth: 1200px;
$mediaBp2Width: 1024px;
$mediaBp1Width: 767px;
$mediaMinWidth: 576px;
.footer{
    padding: 20px 0;
    width: 100%;
    position: fixed;
    margin: 9px 0%;
    bottom: -21px;
    box-shadow: 0 -5px 5px -5px #333;
    position: fixed;
    background-color: white;
    height: 120px;
    @media (min-width: $mediaBp2Width) {
         position: unset; 
         background-color: #3a3a3a;
         color: white;
    }
    @media (max-width: $mediaBp1Width) {
        bottom: -30px;
        height: unset;
        padding: 10px 0;  
    } 
   .footer-content{ 
    padding: 0 3px; 
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    @media (min-width: $mediaBp2Width) {
        grid-template-columns: 8% 8% 8% 8% 8%; 
        //float: right;
    }
      li{
          display: inline;
          cursor: pointer;
          font-size: 150%;
          span{
          @media (max-width: $mediaBp1Width) {
              font-size: 12px;
          }
        }
          .icons{
              display: inline-block;
              @media (min-width: 768px){
                 font-size: 40px; 
              }
              @media (min-width: $mediaBp2Width) {
                font-size: 15px;  
            }
          }
      } 
   }
}