<script>
  import { Router, Link, Route } from "yrv";
  import { onMount } from 'svelte';
  import { links } from "svelte-routing";
  
  import Data from "./data/data.js"
  import MenuBlocks from "./components/menuBlocks/MenuBlocks.svelte"
  import ArrayBlocks from './arrayBlocks/arrayBlocks.svelte';
  import Select from './custom-buttons/select/custom-select.svelte';
  import Cart from "./Cart.svelte";
  import Header from './components/header/Header.svelte';
  import Footer from './components/footer/Footer.svelte';
  import Modal from 'svelte-simple-modal';
  let colors = Data.COLOR;
  let color;
// export let name; 
// export let url = ""; 


</script>


<Header navlists={Data.HEADER_DATA} color = {color}/>
<Select colors = {colors} bind:color = {color}  /> 

<MenuBlocks prices = {Data.PRICES} color = {color} /> 

   <main> 
         <Router>
         <!-- <Link to="/">App</Link> -->
         <div use:links>
         <!-- <a href='Home.svelte'> Home Link </a> -->
         </div>
         </Router>
   </main>

<Modal><Footer>
  
</Footer></Modal>
<style type="text/scss">
   @import './app';
</style>