<script>
  export let items;
</script>

<style>
  ul {
    list-style: none;
    margin: 1rem;
    padding: 0;
  }
  li {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  h1 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  div{
    margin: 47px 10px;
  }
</style>
 
{#if items.length === 0}
  <p></p>
{:else}
  <ul>
    {#each items as item, i}
      {#if i === items.length - 1}
        {#each Object.entries(item) as [item_name , item_number], i}
        <li style="display: inline; border: none">{@html item_number}</li>
        {#if i%2 === 1}
           <br>
          {/if}
        {/each}
      {/if}
   {/each}
  </ul> 
{/if}
